.form .container-row {
  justify-content: center;
  text-align: center; }
  .form .container-row * {
    box-sizing: border-box;
    margin-top: 0.5rem;
    font-size: 20px; }
  .form .container-row span {
    font-family: arial;
    width: 8rem; }
  .form .container-row input[type='text'] {
    width: 12rem; }
  .form .container-row textarea {
    font-family: arial;
    width: 12rem;
    height: 5.4rem;
    resize: none; }
  .form .container-row input[type='button'] {
    width: 8rem;
    margin-left: 4rem; }
