html,
body {
  font-size: 20px;
  font-family: arial;
  margin: 0px; }

#main {
  height: 100%; }

#row1,
#row2,
#row3 {
  width: 100%; }

.container-col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.container-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row; }

.box-left,
.box-center,
.box-right {
  box-sizing: border-box; }

.box-left {
  margin-right: auto; }

.box-center {
  margin-left: auto;
  margin-right: auto; }

.box-right {
  margin-left: auto; }

.btnSave {
  text-align: center;
  box-sizing: border-box;
  cursor: pointer; }

.btnSave {
  background-color: #018DFF;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 15px; }

.form .container-row {
  justify-content: center;
  text-align: center; }
  .form .container-row * {
    box-sizing: border-box;
    margin-top: 0.5rem;
    font-size: 20px; }
  .form .container-row span {
    font-family: arial;
    width: 8rem; }
  .form .container-row input[type='text'] {
    width: 12rem; }
  .form .container-row textarea {
    font-family: arial;
    width: 12rem;
    height: 5.4rem;
    resize: none; }
  .form .container-row .btnSave {
    width: 8rem;
    margin-left: 4rem; }

.manual {
  box-sizing: border-box;
  width: 25rem;
  border: 1px solid black; }

#row1 .box-right .manual {
  margin-top: 0.5rem;
  padding-bottom: 1rem; }

.table {
  border: 2px solid #87866C;
  border-collapse: collapse; }
  .table thead tr {
    color: white;
    background-color: #A8C843; }
    .table thead tr th {
      border: 1px solid #BBD075;
      padding: 10px; }
  .table tbody tr td {
    border: 1px solid #BBD075;
    padding: 10px; }
  .table tbody tr:nth-child(even) {
    background-color: #E8F1D2; }
  .table tbody tr:nth-child(odd) {
    background-color: #E2D5E7; }

.table {
  margin-top: 0.5rem; }
  .table thead tr th {
    height: 1.5rem; }
  .table thead tr th:nth-child(1) {
    width: 8rem; }
  .table thead tr th:nth-child(2) {
    width: 20rem; }
  .table thead tr th:nth-child(3) {
    width: 17rem; }
  .table thead tr th:nth-child(4) {
    width: 6rem; }
  .table tbody tr td {
    height: 1.5rem; }
  .table tbody tr td:nth-child(2) input {
    width: 20rem;
    padding: 0px;
    border-style: none;
    font-size: 20px; }
  .table tbody tr td:nth-child(3) input {
    width: 17rem;
    padding: 0px;
    border-style: none;
    font-size: 20px; }
  .table tbody tr td:last-child {
    text-align: center; }
    .table tbody tr td:last-child span {
      color: #6690D8;
      cursor: pointer; }
