$font-size_page: 20px;
$font-family_page: arial;
html,
body {
    font-size: $font-size_page;
    font-family: $font-family_page;
    margin: 0px;
}

#main {
    height: 100%;
}

#row1,
#row2,
#row3 {
    width: 100%;
}