.table {
    width: 50rem;
    border: 2px solid gray;
    border-collapse: collapse;
    thead {
        tr:first-child {
            color: white;
            background-color: #74af06;
        }
        tr th {
            padding: 10px;
            border: 1px solid green;
            text-align: left;
        }
    }
    tbody {
        tr:nth-child(even) {
            background-color: #b1b0a5;
        }
        tr:nth-child(odd) {
            background-color: #dddddd;
        }
        tr td {
            padding: 10px;
            border: 1px solid green;
            text-align: left;
        }
        tr td:last-child {
            text-align: center;
            span {
                color: blue;
                cursor: pointer;
            }
        }
    }
}