@import 'frameworks/_table';
$font-size_table: 20px;
$width_cell1: 8rem;
$width_cell2: 17rem;
$width_cell3: 25rem;
$width_cell4: 6rem;
$height_row: 1.5rem;
.table {
    margin-top: 0.5rem;
    thead {
        tr th {
            height: $height_row;
        }
        tr th:nth-child(1) {
            width: $width_cell1;
        }
        tr th:nth-child(2) {
            width: $width_cell2;
        }
        tr th:nth-child(3) {
            width: $width_cell3;
        }
        tr th:nth-child(4) {
            width: $width_cell4;
        }
    }
    tbody {
        tr td {
            height: $height_row;
        }
        tr td:nth-child(2) {
            input {
                width: $width_cell2 - 5rem;
                padding: 0px;
                border-style: none;
                font-size: $font-size_table;
            }
        }
        tr td:nth-child(3) {
            input {
                width: $width_cell3 - 5.7rem;
                padding: 0px;
                border-style: none;
                font-size: $font-size_table;
            }
        }
        tr td:last-child {
            text-align: center;
            span {
                color: #6690D8;
                cursor: pointer;
            }
        }
    }
}